<section class="executive-summary">

    <div class="executive-left">

        <span class="summary-label">
            EXECUTIVE DASHBOARD
        </span>

        <h1 id="todayRevenue">

            Rp7.598.000

        </h1>

        <div class="summary-info">

            <span>

                ▲ 12%

                dibanding kemarin

            </span>

            <span>

                Target Hari Ini

                Rp10.000.000

            </span>

        </div>

        <div class="summary-progress">

            <div
                id="summaryProgress"
                class="summary-progress-fill"
                style="width:76%;">
            </div>

        </div>

    </div>

    <div class="executive-stats">

        <div class="executive-item">
            <span>Nett</span>
            <strong id="execNett">Rp5.890.000</strong>
        </div>
    
        <div class="executive-item">
            <span>Customer</span>
            <strong id="execCustomer">138</strong>
        </div>
    
        <div class="executive-item">
            <span>Service</span>
            <strong id="execService">167</strong>
        </div>
    
        <div class="executive-item">
            <span>Cash</span>
            <strong id="execCash">Rp5.420.000</strong>
        </div>
    
        <div class="executive-item">
            <span>QRIS</span>
            <strong id="execQris">Rp2.178.000</strong>
        </div>
    
        <div class="executive-item">
            <span>Cash Out</span>
            <strong id="execCashout">Rp350.000</strong>
        </div>
    
    </div>

</section>
