<div class="activity-card">

    <div class="activity-header">

        <h3>Live Activity</h3>

        <span class="live-dot"></span>

    </div>

    <div id="activityList">

        <div class="activity-item">

            <div class="activity-time">
                16:15
            </div>

            <div class="activity-content">

                <strong>AR Hakim</strong>

                <p>
                    Haircut Premium
                    •
                    Rian
                    •
                    Rp55.000
                </p>

            </div>

        </div>

        <div class="activity-item">

            <div class="activity-time">
                16:12
            </div>

            <div class="activity-content">

                <strong>Parahyangan</strong>

                <p>
                    Cash Out
                    •
                    Rp150.000
                </p>

            </div>

        </div>

        <div class="activity-item">

            <div class="activity-time">
                16:08
            </div>

            <div class="activity-content">

                <strong>Cinangsi</strong>

                <p>
                    QRIS
                    •
                    Rp70.000
                </p>

            </div>

        </div>

    </div>

</div>